.contact-us {
    display: flex;
    width:100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 150px;
}
.contact-us-image {
    margin-right: 100px;
    height: 100%;
}
.contact-us-container {
    width:100%;
    max-width: 650px;
    height: auto;
}
.contact-us-text {
    font-weight: 400;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
}
.form {
    display: grid;
    gap: 15px;
}
.label {
    display: block;
}
.input {
    display: block;
    width: 100%;
    padding: 11px 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #12141d;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: hsla(0, 0%, 100%, 0.8);
}

.textarea {
    max-height: 104px;
    resize: vertical;
}
.send-proposal {
    width:100%;
    max-width: 190px;
    height: auto;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.8);
    background-color: #c6100f;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.send-proposal:hover{
    background-color: #ff3b3b;
    color:rgba(0, 0, 0, 0.652);
}