.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: clamp(1.875rem, 0.253rem + 8.11vw, 9.375rem);
}
.contact-us-image {
    margin-right: clamp(3.125rem, 2.449rem + 3.38vw, 6.25rem);
    height: 100%;
}
.contact-us-container {
    width:100%;
    max-width: 650px;
    height: auto;
}
.contact-us-text {
    font-weight: 400;
    font-size: clamp(1.875rem, 1.199rem + 3.38vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
}
.form {
    display: grid;
    gap: 15px;
}
.label {
    display: block;
}
.input {
    display: block;
    width: 100%;
    padding: 11px 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #12141d;
    text-align: left;
    font-weight: 400;
    font-size: clamp(1rem, 0.905rem + 0.47vw, 1.438rem);
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.input::placeholder{
    font-weight: 400;
    font-size: clamp(1rem, 0.905rem + 0.47vw, 1.438rem);
    line-height: 120%;
    color: hsla(0, 0%, 100%, 0.8);
}

.textarea {
    max-height: 104px;
    resize: vertical;
}
.send-proposal {
    width:100%;
    max-width: 190px;
    height: auto;
    padding: clamp(0.375rem, 0.321rem + 0.27vw, 0.625rem) clamp(0.5rem, 0.432rem + 0.34vw, 0.813rem);
    font-weight: 500;
    font-size: clamp(0.875rem, 0.821rem + 0.27vw, 1.125rem);
    line-height: 133%;
    color: rgba(255, 255, 255, 0.8);
    background-color: #c6100f;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.send-proposal:hover{
    background-color: #ff3b3b;
    color:rgba(0, 0, 0, 0.652);
}

@media (max-width:1300px){
    .contact-us-image{
        display: none;
    }
    .contact-us-text{
        text-align: center;
    }

}