.digital-studio{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.digital-studio-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.image-left{
    margin-right: 40px;
}

.image-right{
    width: 100%;
    max-width: 800px;
    margin-right: -220px;
}

.image-center{
    position: absolute;
    animation: spin 13s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.digital-studio-description {
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: clamp(1.875rem, 0.253rem + 8.11vw, 9.375rem) 0;
}

.digital-studio-description-main {
    width:100%;
    max-width: 385px;
    height: auto;
    font-weight: 400;
    font-size: clamp(1.875rem, 1.199rem + 3.38vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
}

.digital-studio-description-secondary {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin-left: clamp(1.875rem, 0.253rem + 8.11vw, 9.375rem);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.digital-studio-description-secondary p:nth-child(1){
    margin-bottom: 30px;
}

.digital-studio-description-secondary p:nth-child(2){
    margin-bottom: 70px;
}

.digital-studio-button{
    position:absolute;
    bottom:0;
    left:0;
    border-radius: 4px;
    background-color: #c6100f;
    padding: 12px 16px 11px 16px;
    align-self: flex-start;
    margin-top: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s ease;
}

.digital-studio-button:hover{
    background-color: #ff3b3b;
    color:rgba(0, 0, 0, 0.652);
}

.digital-studio-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    max-width: 1200px;
    margin-bottom: clamp(1.25rem, -0.507rem + 8.78vw, 9.375rem);
}

.digital-studio-teams h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.digital-studio-teams p{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.grid-teams {
    width:100%;
    max-width: 550px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-teams img{
    justify-self: center;
    align-self: center;
}

@media(max-width:1600px){
    .digital-studio-images{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .image-left{
        margin-right: 0;
        margin-bottom: -50px;
    }

    .image-right{
        width: 100%;
        margin-right: 0;
        margin-top: -50px;
    }

    .image-center{
        position:relative ;

    }

    .digital-studio {
        width: 100%;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .digital-studio-description{
        flex-direction: column;
        margin:0;
    }
    .digital-studio-description-secondary{
        margin-left: 0;
    }
}