.experiences {
    margin: 0 auto;
    width: 100%;
    max-width: 1448px;
    margin-bottom: clamp(2.5rem, 1.419rem + 5.41vw, 7.5rem);
}
.experiences-text {
    font-weight: 400;
    font-size: clamp(2.5rem, 1.959rem + 2.7vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom:clamp(1.25rem, 0.439rem + 4.05vw, 5rem) ;
}
.experiences-cards {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap:clamp(0.625rem, 0.355rem + 1.35vw, 1.875rem);
}
.card {
    background-color: #171924;
    width:100%;
    max-width: 300px;
    height: auto;
}
.card-header {
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color: #0e101a;
    width:100%;
    max-width: 270px;
    height: auto;
    margin: 15px 15px 20px 15px;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 75% 100%, 25% 100%, 0 89%);
}
.card-text {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.642rem + 0.54vw, 1.25rem);
    line-height: 120%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    height: 112px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card-text h3{
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 1000px){
    .experiences-cards {
        flex-direction: column;
    }
}