.footer-container {
    width:100%;
    padding: 10px 20px;
}

.footer-container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-container-header-links {
    width:100%;
    display: flex;
    justify-content: end;
}

.footer-container-main-info {
    display: flex;
    justify-content:space-between;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: clamp(1.25rem, 0.845rem + 2.03vw, 3.125rem)
}

.footer-container-main-info-description{
    margin-bottom: clamp(1.25rem, 0.845rem + 2.03vw, 3.125rem);
}

.footer-container-main-info-contacts {
    line-height: 30px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.footer-container-main-links {
    width:100%;
    max-width: 600px;
    display: flex;
    gap:clamp(0.625rem, 0.422rem + 1.01vw, 1.563rem);
    margin-bottom: clamp(1.25rem, 0.845rem + 2.03vw, 3.125rem);

}

.footer-container-main-links a{
    gap:12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s ease;
}

.footer-container-main-links a:hover{
    color:#c6100f ;
}

.footer-container-main-copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 800px){
    .footer-container-main-info{
        flex-direction: column;
        justify-content:left;
    }
    .footer-container-main-info-contacts {
        text-align: left;
        margin: 10px 0;
    }
}

@media (max-width: 550px){
    .footer-container-main-links{
        flex-direction: column;
    }
    .footer-container-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:15px;
    }
    .footer-container-header-links {
        justify-content: center;
    }
}