.from-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 clamp(0.938rem, 0.6rem + 1.69vw, 2.5rem);
    margin-bottom: clamp(1.875rem, 0.929rem + 4.73vw, 6.25rem);
}
.from-blog-text {
    font-weight: 400;
    font-size: clamp(2.813rem, 2.34rem + 2.36vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: clamp(1.25rem, 0.372rem + 4.39vw, 5.313rem);
}
.from-blog-news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.938rem, 0.397rem + 2.7vw, 3.438rem);
    width:100%;
    max-width: 1000px;
}
.blog-news {
    width:100%;
    max-width: 400px;
    background-color:#12141d ;
}

.blog-news-type-first {
    display: inline-block;
    padding: 5px 13px;
    background-color:#ff95d7 ;
    margin: clamp(0.75rem, 0.52rem + 1.15vw, 1.813rem) 0 clamp(0.75rem, 0.628rem + 0.61vw, 1.313rem) 0;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.598rem + 0.14vw, 0.75rem);
    line-height: 167%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
}

.blog-news-type-second{
    display: inline-block;
    padding: 5px 13px;
    background-color: #ff6e6e ;
    margin: clamp(0.75rem, 0.52rem + 1.15vw, 1.813rem) 0 clamp(0.75rem, 0.628rem + 0.61vw, 1.313rem) 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
}

.blog-news-description {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.48rem + 1.35vw, 2rem);
    line-height: 124%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 26px;
}

.read-more{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s ease;
}

.read-more:hover{
    color: #c6100f;
}