.lets-talk {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    background-color: #c6100f;
    height: 169px;
    margin-bottom: 50px;
}
.lets-talk-text {
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #fff;
}