.mainText-links {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: clamp(1.875rem, 0.321rem + 7.77vw, 9.063rem);
    margin-bottom:clamp(1.875rem, 1.267rem + 3.04vw, 4.688rem) ;
}
.mainText-links-text {
    font-weight: 400;
    font-size:clamp(2.5rem, 1.081rem + 7.09vw, 9.063rem);
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}
.mainText-links-links {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 14px;
    line-height: 167%;
    color: #fff;
    margin-bottom:clamp(0.938rem, 0.735rem + 1.01vw, 1.875rem);
}
.link-instagram {
    display: flex;
    margin-right: clamp(1.25rem, 0.709rem + 2.7vw, 3.75rem);
    gap:clamp(0.125rem, 0.057rem + 0.34vw, 0.438rem);
    transition: 0.2s ease;
}
.link-twitter {
    display: flex;
    margin-right: clamp(1.25rem, 0.709rem + 2.7vw, 3.75rem);
    gap:clamp(0.125rem, 0.057rem + 0.34vw, 0.438rem);
    transition: 0.2s ease;
}
.link-dribbble {
    display: flex;
    margin-right: clamp(1.25rem, 0.709rem + 2.7vw, 3.75rem);
    gap:clamp(0.125rem, 0.057rem + 0.34vw, 0.438rem);
    transition: 0.2s ease;
}
.link-dribbble:hover{
    color:#f658f9;
}

.link-twitter:hover{
    color: rgb(0, 157, 255);
}

.link-instagram:hover{
    color: rgb(174, 44, 255);
}

@media (max-width:640px){
    .mainText-links {
        flex-direction:column-reverse;
        margin-left:0;
    }
    .mainText-links-links {
        transform:none;
    }
    .mainText-links-text{
        text-align: center;
    }
}

