.mainText-links {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 145px;
    height: auto;
}
.mainText-links-text {
    font-weight: 400;
    font-size: 130px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}
.mainText-links-links {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 14px;
    line-height: 167%;
    color: #fff;
}
.link-instagram {
    display: flex;
    margin-right: 60px;
    gap:7px;
    transition: 0.2s ease;
}
.link-twitter {
    display: flex;
    margin-right: 60px;
    gap:7px;
    transition: 0.2s ease;
}
.link-dribbble {
    display: flex;
    margin-right: 60px;
    gap:7px;
    transition: 0.2s ease;
}
.link-dribbble:hover{
    color:#f658f9;
}

.link-twitter:hover{
    color: rgb(0, 157, 255);
}

.link-instagram:hover{
    color: rgb(174, 44, 255);
}

@media (max-width: 1600px){
    .mainText-links-text{
        font-size: 80px;
    }
}

@media (max-width: 800px){
    .mainText-links-text{
        font-size: 48px;
    }
}
