.our-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.our-work-text {
    font-weight: 400;
    font-size: clamp(2.5rem, 1.284rem + 6.08vw, 8.125rem);
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.our-work-all-projects {
    background-color: #c6100f;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    transition: 0.2s ease;
}

.our-work-all-projects:hover{
    background-color: #ff3b3b;
    color:rgba(0, 0, 0, 0.652);
}

.our-work-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 0 30px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3);
}


@media (max-width: 1500px){
    .our-work-images{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}