.our-skills {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width:100%;
    max-width: 1200px;
    height: auto;
    margin-bottom: clamp(1.25rem, -0.507rem + 8.78vw, 9.375rem);
}
.our-skills-skills {
    width:100%;
    max-width: 550px;
    margin-right: clamp(0.938rem, -0.211rem + 5.74vw, 6.25rem);
}
.our-skills-skills-text {
    font-weight: 400;
    font-size: clamp(2.5rem, 1.959rem + 2.7vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    padding-bottom:62px;
}
.our-skills-skills-parameters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.footnote{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.graphic-design,
.lead-generation,
.photoshop,
.illustration {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: clamp(0.938rem, 0.735rem + 1.01vw, 1.875rem);
}

.graphic-design {
    border-bottom: none;
}

.graphic-design::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #c6100f;
    width: 80%;
}

.lead-generation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #c6100f;
    width: 41%;
}

.photoshop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #c6100f;
    width: 70%;
}

.illustration::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #c6100f;
    width: 100%;
}