.testimonials {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: clamp(1.875rem, 0.253rem + 8.11vw, 9.375rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials-text {
    font-weight: 400;
    font-size: clamp(2.188rem, 1.579rem + 3.04vw, 5rem);
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: clamp(0.938rem, 0.735rem + 1.01vw, 1.875rem);
}
.testimonials-main {
    width:100%;
    max-width: 840px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials-main-image img{
    border-radius: 5px;
    margin-bottom: clamp(1.25rem, 1.115rem + 0.68vw, 1.875rem);
}
.testimonials-main-big-text {
    font-weight: 400;
    font-size: clamp(1.25rem, 1.115rem + 0.68vw, 1.875rem);
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 21px;
}
.testimonials-main-small-text {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.709rem + 0.2vw, 0.938rem);
    line-height: 133%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}